.task_item {
    border: 1px dashed #ccc;
    min-height: 150px;
    margin: 10px;
    padding: 10px;
    transition:all 0.3s;
}

.task_item:hover {
    background: #f0f0f0;
}

.task {
    margin: 5px 0;
    cursor: grab;
}

.task[draggable="true"]:active {
    cursor: grabbing;
}
.task_status_container{
    display: flex;
    justify-content: space-around;
}