<header class="head">
    <div class="container_">
        <header class="header">
            <div class="icon_box pointer">
                <i-feather name="slack" class="icon_color"></i-feather>
            </div>
            <div class="logo pointer">
                <h2>CATS4U</h2>
            </div>
     
            <div class="sub_logo pointer">
                <i-feather name="database" class="icon_color"></i-feather>
                <h2>iProcess</h2>
            </div>
     
            <ul class="pointer" style="margin-bottom: 0!important;">
                <li>{{header.module}}</li>
                <li>{{header.link}}</li>
            </ul>
            
        </header>
        <div class="right_icon pointer">
        <i-feather name="user"></i-feather>
        <i-feather name="volume-2"></i-feather>
        </div>
    </div>
</header>