<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="userFormObj.name"
      #nameInput="ngModel"
      required
      minlength="3"
      maxlength="20"
    />
    <!-- This is common error component to display error message -->
    <app-error [control]="nameInput"></app-error>
    <!-- <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
           class="text-danger">
        <div *ngIf="nameInput.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="nameInput.errors?.['minlength']">
          Name must be at least 3 characters long.
        </div>
        <div *ngIf="nameInput.errors?.['maxlength']">
          Name cannot be more than 20 characters long.
        </div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="name">Gender:</label>
    <!-- app-singleselect-dropdown
          placeholderName="Select Site Group"
          [optionsList]="siteGroupDropdown"
          [selectedItem]="siteForm.controls.siteGroup.value"
          (selectItem)="updateSingleSelectControl($event, siteForm.controls.siteGroup)"></app-singleselect-dropdown> -->
    <!-- Single select use -->
    <app-single-select-dropdown
      placeholderName="Select Gender"
      [optionsList]="genderList"
      [selectedItem]="userFormObj.gender"
      (selectItem)="updateSingleSelectControl($event, userFormObj)"
    ></app-single-select-dropdown>
    <!-- <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="userFormObj.gender"
      #nameInput="ngModel"
      required
      minlength="3"
      maxlength="20"
    /> -->
    <app-error [control]="nameInput"></app-error>
  </div>
  <div class="form-group">
    <label for="name">Fav Sports:</label>
    <!-- <app-multiselect-dropdown
              [dropdownList]="organizationList"
              [dropdownSettings]="selectSettingsForOrganization"
              [selectedItems]="configurationForm.controls.tenants.value"
              [placeholder]="'Select Organizations'"
              (onItemsChange)="
                selectItemsFromMultiSelect(
                  $event,
                  configurationForm.controls.tenants
                )
              "
            >
            </app-multiselect-dropdown> -->
    <!-- Multi Select Use Case -->
    <app-multi-select-dropdown
      [placeholder]="'Select Favourite Sports'"
      [dropdownList]="sportsList"
      [selectedItems]="userFormObj.sports"
      [dropdownSettings]="selectSettingsForSports"
      (onItemsChange)="selectItemsFromMultiSelect($event, userFormObj)"
    ></app-multi-select-dropdown>

    <app-error [control]="nameInput"></app-error>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="userFormObj.email"
      #emailInput="ngModel"
      required
      email
    />
    <app-error [control]="emailInput"></app-error>
    <!-- <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
           class="text-danger">
        <div *ngIf="emailInput.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="emailInput.errors?.['email']">
          Please enter a valid email address.
        </div>
      </div> 
    -->
  </div>
  <div class="form-group">
    <label for="pasword">Password:</label>
    <!-- <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="userFormObj.password"
      #passwordInput="ngModel"
      required
      appPasswordValidator="[A-Za-z]+[0-9]+"
    />
    <div
      *ngIf="
        passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)
      "
    >
      <span style="color: red" *ngIf="passwordInput.hasError('required')"
        >This field is required</span
      >
      <span style="color: red" *ngIf="passwordInput.hasError('passwordPattern')"
        >Password must includes numbers and alphabets</span
      >
    </div> -->
    <!-- <app-error [control]="passwordInput"></app-error> -->
    <!-- <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
           class="text-danger">
        <div *ngIf="emailInput.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="emailInput.errors?.['email']">
          Please enter a valid email address.
        </div>
      </div> 
    -->
  </div>
  <ng-container *ngFor="let control of getUserFormArray; let i = index">
    <div [ngModelGroup]="'Address' + i" class="form-group">
      <label for="city">City:</label>
      <input
        type="text"
        id="city"
        name="city"
        [(ngModel)]="control.city"
        #cityInput="ngModel"
        required
      />
      <app-error [control]="cityInput"></app-error>
      <label for="city">Country:</label>
      <input
        type="text"
        id="country"
        name="country"
        [(ngModel)]="control.country"
        #countryInput="ngModel"
        required
      />
      <app-error [control]="countryInput"></app-error>
      <button type="button" (click)="deleteField(i)">Delete</button> <br />
    </div>
  </ng-container>

  <button (click)="addField()" type="button">Add</button>
  <button type="submit">Submit</button>
  <!-- [disabled]="!myForm.valid" -->
</form>
<!-- Recursive component routes and children routes  -->
<!-- <app-tree [node]="treeStructure_data"></app-tree>
<app-comment [comment]="comment_data"></app-comment>
<app-menu [menuItems]="menuItems_data"></app-menu>
<app-search></app-search>  -->
<!-- {{ value }}
<select [(ngModel)]="value" (change)="onSelectChange($event)">
  <option value="">Action</option>
  <option value="Add">Add</option>
  <option value="Export">Export</option>
  <option value="Scan">Scan</option>
</select>
<input
  #myInputFile
  id="files"
  name="files"
  (change)="onSelectFile($event)"
  type="file"
/>
<a download="" style="cursor: pointer">Download Sample file</a> -->
<!--  Drag Able directive -->
<!-- <div
  appDraggable
  style="width: 250px; height: 100px; background: crimson; color: #fff"
>
  Drag me around!
</div> -->

<!-- Angular ng Wizard -->
<!-- <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  <ng-wizard-step [title]="'Step 1'" [description]="'Basic Info'">
    <span>Step 1 content</span>
  </ng-wizard-step>

  <ng-wizard-step [title]="'Step 2'" [description]="'Account Setup'">
    <span>Step 2 content</span>
  </ng-wizard-step>

  <ng-wizard-step [title]="'Step 3'" [description]="'Profile Details'">
    <span>Step 3 content</span>
  </ng-wizard-step>

  <ng-wizard-step [title]="'Step 4'" [description]="'Review and Finish'">
    <span>Step 4 content</span>
  </ng-wizard-step>
</ng-wizard> -->
<!-- <div>
  <button class="btn btn-primary mx-3" (click)="showPrevStep()">
    <i-feather name="chevrons-left" class="feather_icon_10 ms-1"></i-feather>
    Back
  </button>
  <button class="btn btn-primary" (click)="showNextStep()">
    Next
    <i-feather name="chevrons-right" class="feather_icon_10 ms-1"></i-feather>
  </button>
</div> -->

<!-- Created Custom Validator for password -->

<!-- <label for="password">Password</label>
<input
  type="password"
  id="password"
  name="password"
  [(ngModel)]="password"
  #passwordInput="ngModel"
  required
  appPasswordValidator="[A-Za-z]+[0-9]+"
/>
<div
  *ngIf="
    passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)
  "
>
  <span style="color: red" *ngIf="passwordInput.hasError('required')"
    >This field is required</span
  >
  <span style="color: red" *ngIf="passwordInput.hasError('passwordPattern')"
    >Password must includes numbers and alphabets</span
  >
</div> -->

<!-- <div appAppCustom="red">Hower Me Dude !</div> -->

<!-- App Lazy load image directive -->

<!-- <img appLazyLoad data-src="assets\cross-img.svg" alt="Lazy load Image" /> -->

<!--  Outside Click Directive -->

<!-- <div
  style="width: 200px"
  appClickOutside
  (outSideClicked)="closeDropdown($event)"
>
  <button (click)="toggleDropdown()">Toggle Dropdown</button>
  <div
    style="width: 200px; height: 100px; background-color: cyan"
    *ngIf="dropdownOpen"
    class="dropdown"
  >
    Dropdown content {{ obj | readKey : "address.contact.phone" }}
  </div>
</div> -->

<!-- <div
  appInfiniteScroll
  [scrollThreshold]="50"
  (scrolled)="loadMore()"
  style="height: 300px; overflow-y: auto; border: 1px solid #ccc"
>
  <div *ngFor="let item of items">
    {{ item }}
  </div>
</div> -->

<!-- Hight search directive  -->
<!-- <input type="text" [(ngModel)]="searchQuery" />
<p  appHighlightSearch [searchQuery]="searchQuery">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quisquam iste,
  qui ex ea voluptate velit
</p> -->
<!-- ToolTip Directive  -->
<!-- <button [appTooltip]="'Click me to learn more'">Learn More</button> -->

<!-- Disable right click directive -->

<!-- <p
  appDisableRightClick
  style="width: 100; height: 100; background-color: cyan; color: black"
>
  I am right click disable you can not click me
</p> -->
<!--  Time age directive to show -->

<!-- <p [appTimeAgo]="postDate"></p> -->

<!-- copy to clipboard directive -->
<!-- <button [appCopyToClipboard]="'Text to copy Check'">Copy to Clipboard</button> -->

<!-- Upper case first letter pipe -->

<!-- <p>{{ "hello world" | uppercaseFirst }}</p> -->

<!--  Trunck text pipe -->

<!-- <p
  style="width: 250px"
  [appTooltip]="'This is a long text that should be truncated'"
>
  {{ "This is a long text that should be truncated" | truncateText : 20 }}
</p> -->

<!-- Title Case pipe -->

<!-- <p>{{ "this is a title case example" | titleCase }}</p> -->

<!-- showing full name with shorts JD -->

<!-- <p>{{ "John Doe" | initials }}</p> -->

<!-- Phone number formater -->

<!-- <p>{{ "1234567890" | phoneNumberFormatter }}</p> -->

<!-- Converts a file size in bytes to a more human-readable format, such as KB, MB, or GB. -->

<!-- <p>{{ 1024 | fileSize }}</p> -->

<!-- <input
  [ngModel]="'1234567890'"
  [ngModelOptions]="{ updateOn: 'blur' }"
  [value]="'(***) ***-****' | maskedInput : ''"
/> -->
<!-- As you type in the input field, it will be formatted like (123) 456-7890 -->

<!-- app.component.html -->
<!-- <div>
  <input type="text" [(ngModel)]="phoneNumber">
  <p>Original Input: {{ phoneNumber }}</p>
  <p>Masked Input: {{ phoneNumber | maskedInput : mask }}</p>
</div> -->

<!-- Upper case first letter pipe -->

<!-- <p>{{ "hello world" | uppercaseFirst }}</p> -->

<!--  Trunck text pipe -->

<!-- <p
  style="width: 250px"
  [appTooltip]="'This is a long text that should be truncated'"
>
  {{ "This is a long text that should be truncated" | truncateText : 20 }}
</p> -->

<!-- This is to just revert the last commit test , reverted the last push and changed and again pushing -->
