<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="userFormObj.name"
      #nameInput="ngModel"
      required
      minlength="3"
      maxlength="20"
    />
    <app-error [control]="nameInput"></app-error>
    <!-- <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
           class="text-danger">
        <div *ngIf="nameInput.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="nameInput.errors?.['minlength']">
          Name must be at least 3 characters long.
        </div>
        <div *ngIf="nameInput.errors?.['maxlength']">
          Name cannot be more than 20 characters long.
        </div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="name">Gender:</label>
    <!-- app-singleselect-dropdown
          placeholderName="Select Site Group"
          [optionsList]="siteGroupDropdown"
          [selectedItem]="siteForm.controls.siteGroup.value"
          (selectItem)="updateSingleSelectControl($event, siteForm.controls.siteGroup)"></app-singleselect-dropdown> -->

    <app-single-select-dropdown
      placeholderName="Select Gender"
      [optionsList]="genderList"
      [selectedItem]="userFormObj.gender"
      (selectItem)="updateSingleSelectControl($event, userFormObj)"
    ></app-single-select-dropdown>
    <!-- <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="userFormObj.gender"
      #nameInput="ngModel"
      required
      minlength="3"
      maxlength="20"
    /> -->
    <app-error [control]="nameInput"></app-error>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="userFormObj.email"
      #emailInput="ngModel"
      required
      email
    />
    <app-error [control]="emailInput"></app-error>
    <!-- <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
           class="text-danger">
        <div *ngIf="emailInput.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="emailInput.errors?.['email']">
          Please enter a valid email address.
        </div>
      </div> 
    -->
  </div>
  <ng-container *ngFor="let control of getUserFormArray; let i = index">
    <div [ngModelGroup]="'Address' + i" class="form-group">
      <label for="city">City:</label>
      <input
        type="text"
        id="city"
        name="city"
        [(ngModel)]="control.city"
        #cityInput="ngModel"
        required
      />
      <app-error [control]="cityInput"></app-error>
      <label for="city">Country:</label>
      <input
        type="text"
        id="country"
        name="country"
        [(ngModel)]="control.country"
        #countryInput="ngModel"
        required
      />
      <app-error [control]="countryInput"></app-error>
      <button type="button" (click)="deleteField(i)">Delete</button> <br />
    </div>
  </ng-container>

  <button (click)="addField()" type="button">Add</button>
  <button type="submit">Submit</button>
  <!-- [disabled]="!myForm.valid" -->
</form>
<app-tree [node]="treeStructure_data"></app-tree>
<app-comment [comment]="comment_data"></app-comment>
<app-menu [menuItems]="menuItems_data"></app-menu>
<app-search></app-search> {{ value }}
<select [(ngModel)]="value" (change)="onSelectChange($event)">
  <option value="">Action</option>
  <option value="Add">Add</option>
  <option value="Export">Export</option>
  <option value="Scan">Scan</option>
</select>
<input
  #myInputFile
  id="files"
  name="files"
  (change)="onSelectFile($event)"
  type="file"
/>
<a download="" style="cursor: pointer">Download Sample file</a>

<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  <ng-wizard-step [title]="'Step 1'" [description]="'Basic Info'">
    <span>Step 1 content</span>
  </ng-wizard-step>

  <ng-wizard-step [title]="'Step 2'" [description]="'Account Setup'">
    <span>Step 2 content</span>
  </ng-wizard-step>

  <ng-wizard-step [title]="'Step 3'" [description]="'Profile Details'">
    <span>Step 3 content</span>
  </ng-wizard-step>

  <ng-wizard-step [title]="'Step 4'" [description]="'Review and Finish'">
    <span>Step 4 content</span>
  </ng-wizard-step>
</ng-wizard>
<div>
  <button class="btn btn-primary mx-3" (click)="showPrevStep()">
    <i-feather name="chevrons-left" class="feather_icon_10 ms-1"></i-feather>
    Back
  </button>
  <button class="btn btn-primary" (click)="showNextStep()">
    Next
    <i-feather name="chevrons-right" class="feather_icon_10 ms-1"></i-feather>
  </button>
</div>
