@import '../../../../../styles.css';

.table_head {
    background-color: grey !important;
    color: white !important;
}

.form_list_container {
    display: flex;
    width: 100%;
    height: 65%;
}

.profile-box {
    overflow-y: scroll;
    transition: width 0.4s ease-in-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    align-items: start;
    /* box-shadow: -1px -1px 10px -1.5px grey; */
    border: 1px solid gainsboro;
}

.form_ {
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    align-items: start;
    width: 100%;
    padding: 1rem 1rem;
}

.form_ .profile_row {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .icon{
        cursor: pointer;
        color: green;
    }
}

.form_ .profile_row .icon-text-box {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
}

.form_ .profile_row .icon-text-box .icon {
    width: 55px;
    height: 55px;
    color: blue;
}

.form_ .eml_ph_row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    grid-gap: 0.5rem;
}

.form_ .role_row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    grid-gap: 0.5rem;

}

h2 {
    font-size: 16px;
}

span {
    font-size: 14px;
}

.close-button {
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}

.text-blue {
    color: blue;
    text-decoration: 1px solid blue;
    cursor: pointer;
}

.list_container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.list_container .row_decide_box {
    display: flex;
    align-items: center;
    grid-gap: 0.5rem;
    padding: 1rem 2rem;
    /* border-bottom: 1px solid grey; */
    /* padding-bottom: 1rem; */
}

.list_container .row_decide_box span {
    font-size: 18px;
}

.list_container .row_decide_box input {
    width: 4rem;
    padding: 0.3rem 0.5rem;
    font-size: 14px;
}

.list_container .list_box {
    height: 70%;
    overflow: scroll;
    margin: 1rem 2rem;
}

/* table{
    width: 100%;
} */

th,
td {
    /* border-bottom: 1px solid grey; */
    padding: 1rem;
    text-align: start;
}


.pagination_btn_box {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-gap: 0.5rem;
    padding-right: 2rem;
}

.pagination_btn_box input {
    width: 4rem;
    padding: 0.3rem 0.5rem;
    font-size: 14px;
}

.contact_list {
    display: flex;
}

/* 
.table{
    width: 75%;
} */

.profile-box {
    width: 25%;
}

.name_link {
    color: blue !important;
    cursor: pointer;
    text-decoration: underline;
}

.manage_table {
    height: 100%;
    overflow: scroll;

    /* position: relative;
    padding-bottom: 4rem; */
}

.my_box {
    width: 100%;
}





.main_container {
    display: flex;
    width: 99%;
}

.items {
    width: 100%;
}

.list {
    background-color: #d9dbe7;
    width: 15%;
    height: 100vh;
}


.up_record {
    p {
        padding: 0.5rem;
    }
}

.down_record {
    /* padding: 0 0.5rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
        border-radius: 30px;
        border: none;
        outline: none;
        padding: 0.5rem;
    }
}

.org {
    /* background: #fff; */
    padding: 0 0.5rem;
    width: 100%;
    margin-bottom: 1rem;

    h6 {
        cursor: pointer;
    }

    h6:hover {
        color: blue;
    }
}

.text {
    padding: 0.5rem;

    .first {
        cursor: pointer;
        font-size: 1.2rem;
    }

    .first:hover {
        color: blue;
    }

    p {
        margin-bottom: 0;
        color: black;
        font-size: 1rem;
    }
}

.btn-clear {
    height: unset;
    width: unset;
    border: unset;
    outline: unset;
    cursor: pointer;

    h6 {
        background-color: unset;
    }
}

.org_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.active {
    width: 100%;
    background-color: #fff;
}


.org-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right {
        display: flex;
        align-items: center;
        gap: 1rem;

        input {
            border-radius: 30px;
            border: none;
            outline: none;
            padding: 0.7rem;
            background-color: gainsboro;
        }
    }
}


.plus_icon {
    margin-right: 0.5rem;
    cursor: pointer;
}

.user {
    color: skyblue;
}

.nav-link {
    cursor: pointer;
}

.head-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h4 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    p {
        margin-bottom: 0 !important;
        color: blue;
        font-weight: 600;
    }
}

.profile-row {
    display: flex;
}

.input-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.4rem;
}

.label {

    label {
        /* padding-right: 3rem; */
        padding-left: 1rem;
    }
}

.inputs {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;

    input {
        width: 100%;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 0.2rem;
    }


}

.input-controls {
    display: flex;
    gap: 4rem;
}

.input-controls_org {
    display: flex;
    gap: 1rem;
}

.add_pic {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

    p {
        margin-bottom: 0 !important;
        color: blue;
    }
}

input::placeholder {
    text-align: start;
}

.org-select {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

.contact_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.4rem;
    margin-top: 0.8rem;
}

.group {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;


}

.group_inputs {
    display: flex;
    gap: 0.8rem;
}

.input_style {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.2rem;
}

.add_medium {
    color: blue;
    cursor: pointer;
    display: inline-block;
}

.role {
    width: 100%;

    .group_inputs {
        width: 100%;

        select {
            width: 100%;
            border: 1px solid grey;
            border-radius: 5px;
            padding: 0.2rem;
        }
    }
}

.remarks{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

.trash{
    width: 2.5rem;
    cursor: pointer;
    color: red;
}

/* .ng-touched.ng-invalid{
    border: 1px solid red;
} */
 /* .error-box{
 

    span{
        color: red;
        font-size: 1.4rem;
    }
} */

input.ng-touched.ng-invalid {
    border: 1px solid red;
}