
.compare-container {
    .changed-row td {
        background-color: #fff5c2;
        /* light yellow for differences */
    }

    .missing-row td {
        background-color: #ffd6d6;
        /* light red for missing fields */
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        background: #f7f7f7;
        font-weight: bold;
    }

    td,
    th {
        padding: 10px;
        border: 1px solid #ddd;
    }
}

/* highlight only the changed portion inside text */
.inline-diff {
    background-color: #ffe066;
    font-weight: 600;
    padding: 0 2px;
}

/* highlight entire row if different */
.row-diff td {
    background-color: #fff5c2 !important;
    /* soft yellow */
}

/* highlight missing values */
.row-missing td {
    background-color: #ffd6d6 !important;
    /* soft red */
}


:host ::ng-deep mark {
    background-color:red !important;
    /* bright yellow */
    /* color: black !important;
    padding: 0 2px !important;
    border-radius: 2px; */
}


/* for the table component */

.iface-container {
    width: 100%;
    font-size: 14px;
}

.iface-row {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.iface-header {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
}

.arrow {
    font-size: 16px;
}

.iface-details {
    margin-left: 24px;
    margin-top: 10px;
}

.detail-row {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.label {
    width: 160px;
    font-weight: 600;
}

.previous-value {
    width: 160px;
    color: #777;
    padding: 2px 6px;
}

.current-value {
    width: 160px;
    padding: 2px 6px;
    border-radius: 4px;
}

/* Missing → Pink */
.missing {
    background-color: #ffd6d6 !important;
}

/* Changed → Yellow */
.changed {
    background-color: #ffef9c !important;
}

.disable {
    opacity: 0.35;
    pointer-events: none;
    cursor: not-allowed;
}

.btn{
        padding: 0 10px;
            background: black;
            color: white;
            border-radius: 7px;
}


/* Pagination part  */

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 14px;
}

.rows-control select {
    margin: 0 8px;
    padding: 4px;
}

.page-nav button {
    margin: 0 3px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}

.page-nav button.active {
    background-color: #673ab7;
    color: white;
    border-color: #673ab7;
}

.page-nav button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

