.pagination_container{
    display: flex;
    justify-content: end;
    padding-right: 6rem;
    position: absolute;
    right: 0;
}

.items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn{
    background: skyblue;
    color: white;
    padding: 8px 17px;
    border: 1px solid #fff;
    border-radius: 6px;
}

.active{
    background: skyblue;
    padding: 0.5rem;
    border-radius: 49%;
    color: white;
}