.pagination_container{
    display: flex;
    justify-content: center;
}

.items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn{
    background: skyblue;
    color: white;
    padding: 8px 17px;
    border: 1px solid #fff;
    border-radius: 6px;
}