<div
  class="text-danger"
  *ngIf="control && control.errors && (control.dirty || control.touched)"
>
  <div *ngIf="control.errors.required">
    <p>{{ control.name | titlecase }} field is required</p>
  </div>

  <div *ngIf="control.errors.email"><p>Email should be valid</p></div>
  <div *ngIf="control.errors.mobile">
    <p>{{ control.errors.mobile }}</p>
  </div>
  <div *ngIf="control.errors.confirmPassword">
    <p>{{ control.errors.confirmPassword }}</p>
  </div>
  <div *ngIf="control.errors.minlength">
    <p *ngIf="control.errors.minlength">
      {{ control.name | titlecase }} must be at least
      {{ control.errors.minlength.requiredLength }} characters long.
    </p>
  </div>
  <div *ngIf="control.errors.maxlength">
    <p *ngIf="control.errors.maxlength">
      {{ control.name | titlecase }} cannot be more than
      {{ control.errors.maxlength }} characters long.
    </p>
  </div>
  <div *ngIf="control.errors.unique">
    <p *ngIf="control.errors.unique">{{ control.name }} should be unique</p>
  </div>
  <div *ngIf="control.errors.lessThen">
    <p>{{ control.errors.lessThen }}</p>
  </div>
  <div *ngIf="control.errors.greaterThan">
    <p>{{ control.errors.greaterThan }}</p>
  </div>
</div>
