<div class="org-data-parent">
                        <div class="col1">
                            <div class="row1">
                                <div class="billing-box">
                                    <div class="data-col">
                                        <div class="rowIn">
                                            <h2>Querly Revenue</h2>
                                        </div>
                                        <div class="rowIn">
                                            <h1>RO</h1>
                                            <span>0% compared to last quarter</span>
                                        </div>
                                        <div class="rowIn">
                                            <span>customer lifetime revenue</span>
                                            <h2>RO</h2>
                                        </div>
                                    </div>
                                    <img src="assets/Edit.png" alt="">
                                </div>
                                <div class="payment-box">
                                    <div class="rowPay">
                                        <h2>Billing and Payments</h2>
                                        <i-feather name="external-link" class="icon"></i-feather>
                                    </div>
                                    <div class="rowPay">
                                        <div class="text-box">
                                            <span>Upcoming Payment</span>
                                            <h2>RO</h2>
                                        </div>
                                        <div class="text-box">
                                            <span>due Data</span>
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="rowPay">
                                        <div class="text-box">
                                            <span>Pending Payment</span>
                                            <h2>No pending payments</h2>
                                        </div>
                                    </div>
                                    <div class="rowPay">
                                        <div class="text-box">
                                            <span>Last Payment</span>
                                            <h2>RO</h2>
                                        </div>
                                        <div class="text-box">
                                            <span>paid</span>
                                            <span>-</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row2 product-row">
                                <div class="text-icon">
                                    <h2>Billing and Payments</h2>
                                    <i-feather name="external-link" class="icon"></i-feather>
                                </div>
                                <div class="product-box">
                                    <h1>Managed SDWN</h1>
                                    <span>1 phisical sites</span>
                                    <span>2 cloud sites</span>
                                    <span>5 just sites</span>
                                    <span>3 adf sites</span>
                                    <span>3 eifkf sites</span>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="row-operation-req1">
                                <h2>In Oprations Request</h2>
                                <i-feather name="external-link" class="icon"></i-feather>
                            </div>
                            <div class="row-operation-req2">
                                <span>No Record Found</span>
                            </div>
                            <div class="row-operation-req3">
                                <h2>Sales Request</h2>
                            </div>
                            <div class="row-operation-req4">
                                <span>under development</span>
                            </div>
                        </div>
                        <div class="col3">
                            <div class="row-contct-1">
                                <h2>In Oprations Request</h2>
                                <i-feather name="external-link" class="icon"></i-feather>
                            </div>
                            <div class="row-contct-2">
                                <input type="text" placeholder="search contact">
                            </div>
                            <div class="row-contct-3">
                                    <div class="icon-data-box">
                                        <i-feather name="user"></i-feather>
                                        <h1>{{'orgData.contacts[0].name'}}</h1>
                                        <div class="role">spoc</div>
                                    </div>
                                    <span>Org Role: {{'orgData.contacts[0].role'}}</span>
                                    <span>Preferred contact: {{'orgData.contacts[0].phone'}}</span>
                            </div>
                        </div>
                    </div>